@font-face {
    font-family: "Trickster";
    src: local("Trickster"),
    url(../Fonts/Montserrat-Regular.ttf)
}
canvas {
    float: right;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.index-photo{
    float: right;
    padding: 1em;
}
@media screen {
    .block{
        margin:0 auto;
    }
    .block p{
        text-align:center;
        text-transform: uppercase;
        padding-top: 35px;
        animation: text 10s infinite linear;
        padding-left: 100%;
        white-space: nowrap;
    }
    @keyframes text {
        0%{
            transform: translate(0, 0);
        }

        100%{
            transform: translate(-160%, 0);
        }
    }
    fieldset {
        background-color: #eeeeee;
        color: black;
    }
    textarea:focus {
        background: #eaeaea;
        transition: 0.25s;
        color: black;
    }
    input:focus{
        background-color: white;
        outline: 0;
        color: #b916c4; /* цвет текста */
        border:2px solid #6264dc; /* цвет обводки */
        transition: 0.5s;
    }
    .footer_text{
        font-size: 1em;
        font-family: "Fira S", sans-serif;
    }
    body {
        font-family: Montserrat, serif;
        color: black;
        font-style: normal;
        margin: auto;
        background-color: white;
    }
    .four:hover {
        transform: scaleX(-1);
    }
    .video-hosting {
        display: flex;
        margin: 0 auto;
        border: 0.1em solid #ccc;
        outline-style: dashed;
        outline-width: 0.1em;
        outline-color: red;

    }

    .slideDown {
        animation-name: slideDown;
        animation-duration: 2s;
    }
    .ch-color-1:hover{
        animation-name: ch-color-1;
        animation-duration: 2s;
        transform: scale(1.2);
        transition: transform 0.25s;
    }
    @keyframes ch-color-1 {
        from {
            color: royalblue;
            background-color: white;
        }
        50% {
            color: blue;
            background-color: white;
        }
        to {
            color: red;
            background-color: white;
        }
    }
    @keyframes slideDown {
        0% {
            transform: translateY(100%);
        }

        100% {
            transform: translateY(0%);
        }
    }
    /*a {
        display: inline-block;
        font-size: 1em;
        color: royalblue;
        background-color: white;
    }*/
}

h1 {
    text-align: left;
    margin: 0 0 0 0.25em;
    max-width: 50%;
}

h4 {
    padding: 1em;
    text-align: center;
    font-size: 18pt;
}
span{
    font-size: 0.7em;
}
h3{
    margin: 0 0 0 0.25em;
}
ol {
    font-size: 1.5em;
}
.form_text{
    font-size: 0.7em;
}
.tab { margin-left: 40px; }
p {
    max-width: 50%;
    font-size: 18pt;
    margin: 0 0 0 0.25em;
}
textarea{
    background: #fce9c0; /* Цвет фона */
    color: blue;
    border: 2px solid #a9c358; /* Параметры рамки */
    padding: 10px; /* Поля */
    width: 100%; /* Ширина */
    height: 200px; /* Высота */
    box-sizing: border-box; /* Алгоритм расчёта ширины */
    font-size: 14px; /* Размер шрифта */
}
table,
td {
    margin: 0 auto;
    text-align: center;
    border: 0.1em solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.links {
    margin: 0 0 0 0;
    font-size: 1em;
    padding: 2em;
}
